
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">   
  </p>
  <div *ngIf="submitted && firstname?.invalid">
    <div *ngIf="firstname?.errors?.['required']">
          Firstname Required
    </div>
    <div *ngIf="!firstname?.errors?.['minLength']"> 
        Minimum characters should be 5
    </div>
  </div>
  <p>
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
  </p>
  <div *ngIf="submitted && lastname?.invalid">
   
    <div *ngIf="lastname?.errors?.['required']"> 
      Last Name Required
    </div>
  
    <div *ngIf="!lastname?.errors?.['minLength']"> 
      Minimum characters should be 5
    </div>
    </div>
  <p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email">
  </p>

  <div *ngIf="submitted && email?.invalid">
   
    <div *ngIf="email?.errors?.['required']"> 
      Email Required
    </div>
  
    <div *ngIf="!email?.errors?.['minLength']"> 
      Minimum characters should be 5
    </div>
    </div>

    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" formControlName="password">
    </p>
  
    <div *ngIf="submitted && password?.invalid">
     
      <div *ngIf="password?.errors?.['required']"> 
        Password Required
      </div>
    
      <div *ngIf="!email?.errors?.['minLength']"> 
        Minimum characters should be 10
      </div>
      </div>


  <p>
    <label for="gender">Gender</label>
    <input type="radio" value="male" id="gender" name="gender" formControlName="gender">Male
    <input type="radio" value="female" id="gender" name="gender" formControlName="gender">Female
  </p>
  <p>
    <label for="dateofbirth">Date of Birth</label>
    <input type="text" id="dateofbirth" name="dateofbirth" formControlName="dateofbirth">
  </p>
  <div *ngIf="submitted && dateofbirth?.invalid">
   
    <div *ngIf="dateofbirth?.errors?.['required']"> 
      Date of Birth Required
    </div>
    </div>
    
    <p>
      <label for="phonenumber">Phone Number</label>
      <input type="number" id="phonenumber" name="phonenumber" formControlName="phonenumber">
    </p>
    <div *ngIf="submitted && phonenumber?.invalid">
     
      <div *ngIf="phonenumber?.errors?.['required']"> 
        Phone Number Required
      </div>
      </div>


  <div formGroupName="address">
  <p>
    <label for="city">City</label>
    <input type="text" id="city" name="city" formControlName="city">
  </p>
  <p>
    <label for="street">Street</label>
    <input type="text" id="street" name="street" formControlName="street">
  </p>
  <p>
    <label for="pincode">Pin Code</label>
    <input type="text" id="pincode" name="pincode" formControlName="pincode">
  </p>
</div>
<p>
  <button type="submit">Submit</button>
</p>
</form>

